<section>
    <div class="base">
        <div class="login-box">
            <div class="left-side">
                <img src="assets/img/logo.png" width="200" height="50">
            </div>
            <div class="right-side">
                <h1>Login</h1>
                <input type="text" name="username" id="username" placeholder="Nome de usuário">
                <input type="password" name="password" id="password" placeholder="Senha">
                <button type="submit">Entrar</button>
                <span>Problemas com login?<br/><a href="#"><b>Contate o administrador</b></a></span>
            </div>
        </div>
    </div>
</section>