<!-- Creates a bg to gray out users component -->
<div class="black-bg">
</div>

<!-- Main code for new user modal -->
<div class="new-user-box">
    <div class="title">
        <h4>Editar usuário</h4>
        <fa-icon (click)="onClose()" [icon]="faCloseEditUser"></fa-icon>
    </div>
    <div class="line"></div>
    <input type="text" id="name" placeholder="Alterar nome" [(ngModel)]="useUserDetails.name">
    <input type="text" id="ldap" placeholder="Alterar LDAP" [(ngModel)]="useUserDetails.ldap">
    <input type="text" id="department" placeholder="Alterar departamento" [(ngModel)]="useUserDetails.department">
    <button type="submit">Atualizar</button>  
</div>