<section>
    <div class="sidenav-box">
        <img src="assets/img/logo.png" width="180" height="45">
        <div class="line"></div>
        <ul>
            <li>
                <fa-icon [icon]="faHome"></fa-icon>
                <span>Home</span>
            </li>
            <li>
                <fa-icon [icon]="faTicket"></fa-icon>
                <span>Chamados</span>
            </li>
            <li>
                <fa-icon [icon]="faPrinter"></fa-icon>
                <span>Impressoras</span>
            </li>
            <li>
                <fa-icon [icon]="faInventory"></fa-icon>
                <span>Inventário</span>
            </li>
            <li>
                <fa-icon [icon]="faEmployees"></fa-icon>
                <span>Funcionários</span>
            </li>
        </ul>
        <h5>v1.0</h5>
    </div>
    <div class="topbar-box">
        <div class="profile-icon">
            <span id="usernameId">{{username}}</span>
            <fa-icon [icon]="faProfile"></fa-icon>
        </div>
    </div>
</section>