<section>
    <div class="sidenav-box">
        <img src="assets/img/logo.png" width="180" height="45">
        <span class="dashboard-word">Dashboard</span>
        <ul>
            <li (click)="goToUrl('/home')">
                <fa-icon [icon]="faHome"></fa-icon>
                <span>Home</span>
            </li>
            <li>
                <fa-icon [icon]="faTicket"></fa-icon>
                <span>Chamados</span>
            </li>
            <li>
                <fa-icon [icon]="faPrinter"></fa-icon>
                <span>Impressoras</span>
            </li>
            <li>
                <fa-icon [icon]="faInventory"></fa-icon>
                <span>Inventário</span>
            </li>
            <li (click)="goToUrl('/users')">
                <fa-icon [icon]="faEmployees"></fa-icon>
                <span>Usuários</span>
            </li>
        </ul>

        <span id="Alert-word">Alerta</span>
        <li class="alertClass">
            <fa-icon [icon]="faAlert"></fa-icon>
            <div class="bubble">1</div>
            <span>Notificações</span>
        </li>


        <span id="Account-word">Conta</span>
        <div class="profile">
            <div class="profile-photo"></div>
            <span>{{username}}</span>
            <span>{{userRole}}</span>
        </div>
        <div class="profile-options">
            <li>
                <fa-icon [icon]="faSetting"></fa-icon>
                <span>Configurações</span>
            </li>
            <li>
                <fa-icon [icon]="faExit"></fa-icon>
                <span>Sair</span>
            </li>
        </div>
        <h5>v1.0</h5>
    </div>
</section>