.container{
    display: flex;
    flex-direction: row;

    .users-section{
        h3{
        font-family: sans-serif;
        font-size: 12pt;
        color: #13395d;
        margin: 25px 20px 0;
        opacity: 70%;
    }

    .search-bar{
        display: flex;
        flex-direction: row;
        margin: 20px 0 0 20px;

        fa-icon{
            background-color: white;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20pt;
            color: #809bad;
            border-radius: 0 10px 10px 0;
        }

        input{
            border-style: none;
            margin: 0 2px;
            width: 80%;
            height: 40px;
            padding: 0 0 0 10px;
            

        }

        input::placeholder{
            color: #809bad;
            font-weight: 700;
        }
    }

    table{
        border-collapse: separate;
        border-spacing: 0 5px;
    }

    .users-list{
        margin: 0 0 0 10px;
        padding: 10px;        

        .tcontent{
            background-color: white;
        }

        .tcontent:hover{
            background-color: #bfd1dd;
        }

        tr{
            font-family: sans-serif;            
            color: #13395d;
            text-align: left;

            th{
                padding: 10px 50px;
                color: #13395d;
                font-family: sans-serif;
                font-size: 10pt;
                background-color: #809bad;
                
            }

            th:nth-last-child(1),
            th:nth-last-child(2),
            th:nth-last-child(3),
            th:nth-last-child(4){
                padding: 10px 10px;
            }

            th:nth-last-child(7){
                border-radius: 5px 0 0 5px;
            }

            th:nth-last-child(1){
                border-radius: 0 5px 5px 0;
            }

            td:nth-last-child(1),
            td:nth-last-child(2),
            td:nth-last-child(3),
            td:nth-last-child(4){
                padding: 10px 10px;
                border: none;
                background-color: #ebeaf1;
            }

            td:nth-last-child(7){
                border-radius: 5px 0 0 5px;
            }
            
            td:nth-last-child(5){
                border-radius: 0 5px 5px 0;
            }

            td{
                padding: 7px 30px;
                border-bottom: 1px solid #bfd1dd;
                border-collapse: collapse;
                cursor: pointer;

                #user-icon{
                    font-size: 14pt;
                    padding: 0 10px 0 0;
                    color: #809bad;
                }
            }

            #edit-user, #delete-user{
                color: white;
                border-radius: 10px;
                cursor: pointer;
                opacity: 70%;
            }

            #edit-user:hover, #delete-user:hover{
                opacity: 100%;
            }

            #edit-user{
                background-color: #809bad;
            }

            #delete-user{
                background-color: #ad8080;
            }
        }
    }
    }
}