<div class="container">
    <!-- Calls sidebar menu -->
    <app-sidemenu></app-sidemenu>

    <!-- Main code for users page -->
    <div class="users-section">
        <h3>Usuários</h3>

        <!-- Main code for search bar -->
        <div class="search-bar">
            <div class="blank-space"></div>
            <input type="text" name="search-bar" id="search-bar" placeholder="Procurar usuário">
            <fa-icon [icon]="faSearchIcon"></fa-icon>
            <button (click)="onNewUser()">Novo usuário</button>
        </div>

        <!-- Main code for table -->
        <table>
            <div class="users-list">
                <tr class="theader">
                    <th>Nome</th>
                    <th>LDAP</th>
                    <th>Departamento</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr *ngFor="let user of users" class="tcontent">
                    <td [style.font-weight]="'700'">
                        <fa-icon id="user-icon" [icon]="faUserIcon"></fa-icon>
                        {{user.name}}
                    </td>
                    <td>{{user.ldap}}</td>
                    <td>{{user.department}}</td>
                    <td></td>
                    <td (click)="onEditUser(user.name)" vid="edit-user"><fa-icon [icon]="faEditUser"></fa-icon></td>
                    <td></td>
                    <td id="delete-user"><fa-icon [icon]="faDeleteUser"></fa-icon></td>
                </tr>
            </div>
        </table>
    </div>

    <!-- Main code for statistics -->
    <div class="users-statistics">
        <h4>Estatisticas</h4>
        <div class="users-counting">
            <span>{{users.length}}</span>
            <p>Usuários cadastrados</p>
        </div>
    </div>

    <!-- Opens a modal for new user creation -->
    <div *ngIf="newUser" class="new-user">
        <app-createuser (onNewUser)="onNewUser()"></app-createuser>
    </div>

    <!-- Opens a modal for user edit -->
    <div *ngIf="editUser" class="edit-user">
        <app-edituser (onCloseEditUser)="onCloseEditUser()"></app-edituser>
    </div>

    <!-- Needs to create a modal for user edit -->

    <!-- Needs to create a modal for when user is created -->

    <!-- Needs to create filter for th row -->

    <!-- Needs to create the back code for search bar -->

    <!-- Needs to create backend + database for user CRUD -->
</div>
