<div class="container">
    <app-sidemenu></app-sidemenu>
    <div class="users-section">
        <h3>Usuários</h3>

        <table>
            <div class="users-list">
                <tr>
                    <th>Nome</th>
                    <th>LDAP</th>
                    <th>Departamento</th>
                </tr>
                <tr *ngFor="let user of users">
                    <td>{{user.name}}</td>
                    <td>{{user.ldap}}</td>
                    <td>{{user.department}}</td>
                </tr>
            </div>
        </table>
    </div>
</div>
