// Container places sidebar menu and users page as a flex row
.container{
    display: flex;
    flex-direction: row;

    // Main code for users styling
    .users-section{
        h3{
        font-family: sans-serif;
        font-size: 12pt;
        color: #13395d;
        margin: 20px 20px 0;
        opacity: 70%;
        }

        // Search bar
        .search-bar{
            display: flex;
            flex-direction: row;
            margin: 20px 0 20px 20px;
            width: 748px;

            .blank-space{
                width: 40px;
                height: 40px;
                background-color: #fff;
                border-radius: 10px 0 0 10px;
            }

            input{
                border-style: none;
                outline: none;
                margin: 0 2px;
                width: 80%;
                height: 40px;
                padding: 0 0 0 10px;
            }

            input::placeholder{
                color: #809bad;
                font-weight: 700;
            }

            input:active{
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            }

            fa-icon{
                background-color: #809bad;
                width: 75px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14pt;
                color: white;
                opacity: 70%;
                border-radius: 0 10px 10px 0;
                cursor: pointer;
            }

            fa-icon:hover{
                opacity: 100%;
            }

            button{
                margin: 0 0 0 18px;
                border-style: none;
                background-color: #809bad;
                opacity: 90%;
                width: 100px;
                padding: 0 10px;
                border-radius: 7px;
                cursor: pointer;
                font-weight: bold;
                color: white;
            }

            button:hover{
                opacity: 100%;
            }
        }

        // Remove row spacing
        table{
            border-collapse: separate;
            border-spacing: 0 5px;
        }

        // Main code for user list
        .users-list{
            margin: 0 0 0 20px;
            padding: 10px;
            background-color: #fff;
            border-radius: 10px;

            .tcontent{
                background-color: white;
            }

            .tcontent:hover{
                background-color: #bfd1dd;
            }

            tr{
                font-family: sans-serif;            
                color: #13395d;
                text-align: left;

                th{
                    padding: 10px 30px;
                    color: #13395d;
                    font-family: sans-serif;
                    font-size: 10pt;
                    background-color: #ffffff;
                    
                }

                th:nth-last-child(1),
                th:nth-last-child(2),
                th:nth-last-child(3),
                th:nth-last-child(4){
                    padding: 10px 10px;
                }

                td:nth-last-child(1),
                td:nth-last-child(2),
                td:nth-last-child(3),
                td:nth-last-child(4){
                    padding: 10px 10px;
                    border: none;
                    background-color: #ffffff;
                }

                td:nth-last-child(7){
                    border-radius: 5px 0 0 5px;
                }
                
                td:nth-last-child(5){
                    border-radius: 0 5px 5px 0;
                }

                td{
                    padding: 7px 30px;
                    border-bottom: 1px solid #bfd1dd;
                    border-collapse: collapse;
                    cursor: pointer;
                    font-size: 11pt;

                    #user-icon{
                        font-size: 14pt;
                        padding: 0 10px 0 0;
                        color: #809bad;
                    }
                }

                #edit-user, #delete-user{
                    color: white;
                    border-radius: 10px;
                    cursor: pointer;
                    opacity: 70%;
                }

                #edit-user:hover, #delete-user:hover{
                    opacity: 100%;
                }

                #edit-user{
                    background-color: #809bad;
                }

                #delete-user{
                    background-color: #ad8080;
                }
            }
        }
    }

    // Main code for user statistics styling
    .users-statistics{

        h4{
            margin: 100px 0 0 280px;
            font-family: sans-serif;
            color: #546f8a;
        }

        .users-counting{
            background: white;
            width: 150px;
            height: 150px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content:space-evenly;
            align-items: center;
            color: #13395d;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            margin: 5px 0 0 200px;

            span{
                font-size: 40pt;
                font-weight: 800;
                font-family: sans-serif;
            }

            p{
                font-family: sans-serif;
                font-size: 12pt;
                font-weight: bold;
                text-align: center;

            }
        }
    }

    // Animation code for when "new user" btn calls function
    .new-user{
        -webkit-animation: showSmoothly 0.3s ease-in-out forwards;
    }

    @keyframes showSmoothly {
        0% {
            opacity: 0%;
        }
        100%{
            opacity: 100%;
        }
    }
}