.container{
    display: flex;
    flex-direction: row;

    h3{
        font-family: sans-serif;
        font-size: 12pt;
        color: #13395d;
        margin: 32px 20px 2px;
        opacity: 70%;
    }

    .users-list{
        background-color: rgb(255, 255, 255);
        margin: 0 0 0 10px;

        tr{
            th{
                padding: 10px 50px;
                color: #13395d;
                font-family: sans-serif;
                font-size: 10pt;
            }

            td{
                padding: 7px 0;

            }
        }
    }
}