// Entire side menu
.sidemenu-container{
    width: 200px;
    height: 100vh;
    background-color: #13395d;
    margin-right: 0;

    // Styles the logo
    .logo{
        background-color: #ebeaf1;
        text-align: center;
    }

    // Set some settings for some divs
    .menu, .alert, .account{
        margin: 10px 0;

        // Remove the • from list
        ul{
            list-style-type: none;
        }
    }

    // Works only with menu div
    .menu{
        color: #ebeaf1;

        // Works on menu title
        .menu-title{
            font-family: sans-serif;
            font-size: 8pt;
            opacity: 70%;
            padding-left: 16px;
        }

        // Works on menu list container
        ul{
            list-style-type: none;
            // Works on menu list itself
            li{
                padding: 10px 0 10px 16px;
                font-family: sans-serif;
                font-size: 10pt;

                span{
                    margin-left: 12px;
                }

            }

            // Activates when mouse hover
            li:hover{
                background-color: #194a77;
                cursor: pointer;
            }
        }
    }

    // Works on alert
    .alert{
        color: #ebeaf1;

        .alert-title{
            font-family: sans-serif;
            font-size: 8pt;
            opacity: 70%;
            padding-left: 16px;
        }

        .bubble{
            background-color: red;
            position: absolute;
            top:280px;
            left: 110px;
            width: 20px;
            height: 15px;
            padding-top: 5px;
            border-radius: 50%;
            text-align: center;
            font-family: sans-serif;
            font-size: 7pt;
        }

        .bubble:hover{
            cursor: pointer;
        }

        //Works on alert list container{
        ul{
            list-style-type: none;
            li{
                padding: 10px 0 10px 16px;
                font-family: sans-serif;
                font-size: 10pt;

                span{
                    margin-left: 12px;
                }
            }

            li:hover{
                background-color: #194a77;
                cursor: pointer;
            }
        }
    }

    // Works on account
    .account{
        color: #ebeaf1;
        background-color: #194a77;
        padding: 2px 0 10px 16px;
        margin: 10px 0 2px 0;
        
        .account-title{
            font-family: sans-serif;
            font-size: 8pt;
            opacity: 70%;
        }

        .account-info{
            display: flex;
            margin-top: 10px;
            cursor: pointer;
    
            .account-small-photo{
                background: #fff;
                width: 32px;
                height: 32px;
                border-radius: 30%;
                text-align: center;
                
                img{
                    border-radius: 30%;
                }
            }

            .account-details{
                display: inherit;
                flex-direction: column;
                margin: 3px 0 0 10px;
                font-family: sans-serif;
                font-size: 9pt;

                span:nth-of-type(1){
                    font-weight: bold;
                }
            }

            fa-icon{
                position: relative;
                top: 20px;
                left: 20px;
            }
        }
    }

    // Works on account options
    .account-options{
        ul{
            list-style-type: none;
            color: #ebeaf1;

            li{
                font-family: sans-serif;
                font-size: 9pt;
                padding: 7px 0 7px 55px;

                span{
                    margin-left: 7px;
                }
            }

            li:hover{
                background-color: #194a77;
                cursor: pointer;
            }
        }
    }
}