<app-side-nav></app-side-nav>

<div class="home-screen">
    <div class="ticket-status">
        <div class="open-tickets">
            <fa-icon [icon]="faOpen"></fa-icon>
            <span class="quantity">12</span> 
            <div class="title-month">
                <span>Chamados abertos</span>
                <span>Abril</span>
            </div>
        </div>

        <div class="closed-tickets">
            <fa-icon [icon]="faClosed"></fa-icon>
            <span class="quantity">07</span>
            <div class="title-month">
                <span>Chamados fechados</span>
                <span>Abril</span>
            </div>            
        </div>

        <div class="online-printers">
            <fa-icon [icon]="faPrinters"></fa-icon>
            <span class="quantity">03</span>
            <div class="title-month">
                <span>Impressoras online</span>
            </div> 
        </div>
        <div class="inserted-items">
            <fa-icon [icon]="faInventory"></fa-icon>
            <span class="quantity">74</span>
            <div class="title-month">
                <span>Itens cadastrados</span>
            </div> 
        </div>
        <div class="total-employees">
            <fa-icon [icon]="faUsers"></fa-icon>
            <span class="quantity">36</span>
            <div class="title-month">
                <span>Usuários</span>
            </div> 
        </div>
    </div>

    
</div>
